# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Checking Dataset

In [8]:
#Calling csv file
df = pd.read_csv('diabetes.csv')

#Having a first pick at the dataset
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [9]:
#Check for Null values and Data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
#Look for duplicates
df.duplicated().sum()

0

In [11]:
#Quick Statistic summary 
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

There dataframe shows as there are no missing values present in the dataset.

For the sake of creating better visualisations and easing further analysis, I will be creating a secondary dataframe which will put some of the main health-related variables at a certain range (bins):

Glucose
- Below normal: < 70 mg/dL,
Normal: 70 - 99 mg/dL,
Above normal: 100 - 125 mg/dL,
Excessively high: >= 126 mg/dL

BloodPressure
- Below normal: < 90/60 mmHg,
Normal: 90/60 - 119/79 mmHg,
Above normal: 120/80 - 139/89 mmHg,
Excessively high: >= 140/90 mmHg

SkinThickness
- Below normal: < 10 mm,
Normal: 10 - 30 mm,
Above normal: 31 - 40 mm,
Excessively high: >= 41 mm

Insulin
- Below normal: < 16 mcU/mL,
Normal: 16 - 166 mcU/mL,
Above normal: 167 - 249 mcU/mL,
Excessively high: >= 250 mcU/mL

BMI
- Underweight: < 18.5 kg/m^2,
Normal: 18.5 - 24.9 kg/m^2,
Overweight: 25 - 29.9 kg/m^2,
Obese: >= 30 kg/m^2

### Creating a second dataset

In [17]:
# define the bins
glu_bins = [0, 70, 99, 125, 199]
blo_bins = [0, 90, 119, 139, 140]
skn_bins = [0, 10, 30, 40, 99]
Ins_bins = [0, 16, 166, 249, 846]
bmi_bins = [0, 18.5, 24.9, 29.9, 34.9, 67.1]

# define labels
glu_labels = ['<70', '70-99', '100-125', '>=126']
blo_labels = ['<90', '90-119', '120-139', '>=140']
skn_labels = ['<10', '10-30', '31-40', '>=41']
Ins_labels = ['<16', '16-166', '167-249', '>=250']
bmi_labels = ['<18.5', '18.5-24.9', '25-29.9', '30-34.9', '>=35']

#create df copy
df2 = df.copy()

# use cut to bin val and replace column
df2['Glucose'] = pd.cut(df2['Glucose'], bins=glu_bins, labels=glu_labels)
df2['BloodPressure'] = pd.cut(df2['BloodPressure'], bins=glu_bins, labels=glu_labels)
df2['SkinThickness'] = pd.cut(df2['SkinThickness'], bins=glu_bins, labels=glu_labels)
df2['Insulin'] = pd.cut(df2['Insulin'], bins=glu_bins, labels=glu_labels)
df2['BMI'] = pd.cut(df2['BMI'], bins=glu_bins, labels=glu_labels)

In [23]:
df2.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,>=126,70-99,<70,NaN,<70,0.627,50,1
1,1,70-99,<70,<70,NaN,<70,0.351,31,0
2,8,>=126,<70,NaN,NaN,<70,0.672,32,1

After creating bins we can now highlight some of the missing values

In [24]:
#Checking the null values
df2.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     463
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

It is impossible for a Living Human Being to have 0 levels of glucose, blood pressure, skin thickness, Insuline or BMI.

Therefore I will have to deal with the missing values and replace them. 

This time I will be using the Regression imputation

In [ ]:
#Regression Imp. for the missing values in df2

# Data Visualisation & EDA

In [12]:
#Bar chart of pregnancy quantity

In [ ]:
# Pie chart of Glucose, Blood Pressure, Skin Thickness, Insuline

In [ ]:
#Create a Pie chart and Bar chart of BMI

In [ ]:
#Plot Graph on Outcome & BMI

In [ ]:
#Plot Graph on Outcome & Pregnancy

In [ ]:
#Plot Graph on Insuline & Outcome

In [ ]:
#Plot Graph on Outcome & Glucose

In [ ]:
#Chart on Outcome